<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- DB 커넥션 정보가 담겨있는 propertires 파일 경로 -->
    <properties resource="connection.properties" />
    <settings>
        <!-- log4j2와 연동 -->
        <setting name="logImpl" value="LOG4J2" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 커넥션 풀링 여부 -->
            <dataSource type="POOLED">
                <!-- propertires 파일에서 가져온 프로퍼티 -->
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- SQL 파일과 매핑 -->
        <mapper resource="login.xml" />
        <mapper resource="friend.xml" />
    </mappers>
</configuration>